
span{
    font-size: 42px;
  }
  .example{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
    margin-top: 200px;
  }
  .buttonFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  button{
    width: 70px;
    height: 70px;
  }
  #cavab{
    display: none;
    font-size: 20px;
    width: 60px;
  }
  #cavabla{
    height: 30px;
  }


  /* if(cavab===cavab.value){
    Swal.fire('Any fool can use a computer')
   }
   else{Swal.fire('basqa vaxt gel')} */